/*Page entiere*/
body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.lorem {
    font-style: italic;
    color: #AAA;
}

/*Menu ajout markers*/

#addMarkerForm {
    margin-top: 20px;
    }

#iconSelect {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.icon-preview {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    background-size: contain;
    background-position: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.cancel-button,
.submit-button {
    padding: 8px 170px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.cancel-button {
    background-color: #f0f0f0;
    color: #333;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
}

.submit-button:hover {
    background-color: #45a049;
}

/*Menu liste makers*/

.category-link {
    display: block;
    padding: 0.5em;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 0.25em;
    margin-bottom: 0.5em;
    text-decoration: none;
    color: #333;
}

.category-link:hover {
    background-color: #e6e6e6;
}

.category-count {
    float: right;
    font-size: 0.8em;
    margin-top: 0.2em;
}

.category {
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 0.25em;
    padding: 0.5em;
    background-color: #f9f9f9;
}

.markers-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
}

.marker-item {
padding: 0.25em;
background-color: #f5f5f5;
border-bottom: 1px solid #ddd;
cursor: pointer;
}

.marker-item:hover {
background-color: #f9f9f9;
}