/* J'ai dû utiliser la directive @media screen pour que le site web reste lisible, car les curseurs (slider) ne fonctionnaient pas avec des dimensions en pourcentages.
J'ai donc dû utiliser cette technique pour rétrécir le site si la taille de l'écran est inférieure à 1600px... */


/* Honnetement les nom de 'class' ou 'id'  sont assez explicite pour que l'on comprenne vite sur quoi agit le CSS */

/* Ce CSS est utilisé pour les écrans ayant une largeur entre 1200px et 1600px (par exemple, un écran d'ordinateur portable) */
@media screen and (min-width: 0px) and (max-width: 1600px) {

body {
  /* Style pour le corps du site web pour les écrans entre 1200px et 1600px */
  color: white;
  background-image: url('bg1.png');
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p,
ol,
ul:not(#texte_bienvenue) {
  /* Style pour les paragraphes, les listes ordonnées et les listes non ordonnées (à l'exception de #texte_bienvenue) pour les écrans entre 1200px et 1600px */
  color: white;
}

#texte_bienvenue {
  /* Style pour la zone de texte de bienvenue */
  scroll-margin-top: 100px;
  position: absolute;
  top: 100px;
  right: 25px;
  width: 35%;
  border-style: solid;
  border-width: 5px;
  border-color: lightgreen;
  padding-top: 2%;
  padding-left: 2.5%;
  padding-bottom: 2%;
  padding-right: 2%;
  color: black;
  filter: blur(12);
  border-radius: 40%;
}

#bouton-acces-carte {
  /* Style pour le bouton d'accès à la carte */
  height: 35%;
  width: auto;
  position: absolute;
  top: 50%;
  right: 12.5%;
}

#texte-bouton-acces-carte {
  /* Style pour le texte du bouton d'accès à la carte */
  position: absolute;
  right: 7%;
  top: 90%;
  background-color: lightgreen;
}

#image-ex2 {
  /* Style pour l'image d'exemple 2 */
  height: auto;
  width: 30%;
  position: absolute;
  top: 45%;
  left: 5%;
}

nav {
  /* Style pour la barre de navigation */
  z-index: 1;
  background: white;
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 22px;
  box-shadow: 2px 2px 20px rgb(0, 0, 0, 0.3);
  position: fixed;
  left: 10%;
}

nav img {
  /* Style pour l'image de la barre de navigation */
  width: 60px;
  height: auto;
}

nav > a {
  /* Style pour les liens de la barre de navigation */
  color: black;
  text-decoration: none;
  font-size: xx-large;
  padding: 8px 16px;
  border-radius: 22px;
}

nav > a:hover {
  /* Style pour les liens de la barre de navigation au survol */
  transition: 0.255s;
  font-size: xx-large;
  color: aliceblue;
  background: grey;
}
.separateur_header{
  background-color: grey;
  padding: 1px 1px; 

}
/* SLIDER */


/* style général pour tout les slider,
 exepté quelques ajustement pour les positions ou taille des images, les autres sont rigouresement identiques */
.slider {
  
  width: 700px;
  margin: 42px auto;
  position: absolute;
  left: 0px;
  top: 50px;
}

.slider-viewport {
  width: 700px;
  height: 600px;
  overflow: hidden;
}


.slider-content {
  display: grid;
  grid-auto-flow: column;
  -webkit-transition: 1s all;
  transition: 1s linear ;
}

.slider-content img {
  width: 700px;
  height: auto;
}

.slider-nav {
  position: absolute;
  width: 100%;
  top: 65%;
  margin-top: 10px;
  text-align: center;
}

.slider-nav a {
  display: inline-block;
  background-color: #adafbc;
  width:30px;
  height: 30px;
  margin: 0 6px;
}

.slider-nav a:hover {
  background-color: #fff;
}

#img2:target .slider-content {
  
  -webkit-transform: translateX(-700px);
  transform: translateX(-700px);
}

#img3:target .slider-content {
  -webkit-transform: translateX(-1400px);
  transform: translateX(-1400px);
}


.zoom img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.zoom :hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/**//**//**//**//**//**//* corp de la page /**//**//**//**//**//**/

.corp-page {
  position: absolute;
  top: 650px;
  width: 100%;
  height: 2500px;

}

.notre_projet {
  position: absolute;
  top: 10px;
  left: 0%;
  width: 100%;
  height: 710px;
  border-radius: 50px; 
  border-color: lightgreen;
  border-width: 10%;
  color: black;
}


#content-notre-projet{
  position: absolute;
  top: 15%;
  width: 50%;
  height: 600px;
  left: 0%;
  border-style:solid;
  border-width: 5px;
  border-color: lightgreen;
  border-radius: 50px; 
  padding-left: 1.5%;
  padding-right: 1.5%;
  color: white;
  font-size: 100%;
}

#screenshot-map{
  height: auto;
  width: 40%;
  position: absolute;
  top: 10%;
  right: 1.5%;
}
#screenshot-map2{
  height: auto;
  width: 40%;
  position: absolute;
  top: 50%;
  right: 8%;
}


#titre-notre-projet{
  scroll-margin-top: 100px;
  position: absolute;
  top: 5%;
  left: 30%;
  text-align: center;
  font-size: xx-large;
  background-color: lightgreen;
  text-decoration: underline;
  color: black;
  text-decoration: solid;
}

.fonctionalitees {
  position: absolute;
  top: 780px;

  left: 0%;
  width: 100%;
  height: 710px;
  
  border-radius: 50px; 
  border: lightgreen;
  border-width: 10px;
  border-color: lightgreen;
}

#fonctionalitees-content{
  position: absolute;
  top: 18%;
  text-align: center;
  width: 60%;
  right: 1%;
  height: auto;
  border-radius: 50px; 
  color: black;
  font-size: 130%;
  border-style:solid;
  border-width: 5px;
  border-color: lightgreen;
  border-radius: 50px; 
  padding-left: 1.5%;
  padding-right: 1.5%;
  color: white;
}

#titre-fonctionalitees{
  scroll-margin-top: 100px;
  position: absolute;
  top: 5%;
  right: 25%;
  text-align: center;
  font-size: xx-large;
  background-color: lightgreen;

  color: black;
  text-decoration: solid;
}
#image-ex1{
  height: auto;
  position: absolute;
  width: 30%;
  top: 10%;
  left: 0%;
}

#image-ex2{
  height: auto;
  width: 30%;
  position: absolute;
  top: 40%;
  left: 5%;
}
.fonctionalitees-avancee {
  position: absolute;
  top: 1450px;
  left: 0%;
  width: 100%;
  height: 710px;
  border-radius: 50px; 
  border-color: lightgreen;
  color: black;
}
#titre-fonctionalitees-avancee{
  scroll-margin-top: 100px;
  position: absolute;
  top: 1%;
  left: 25%;
  text-align: center;
  font-size: xx-large;
  background-color: lightgreen;
  color: black;
  text-decoration: solid;
}
#fonctionalitees-avancee-content {
  position: absolute;
  top: 18%;
  text-align: center;
  width: 60%;
  left: 1%;
  height: auto;
  border-radius: 50px; 
  color: black;
  font-size: 130%;
  border-style:solid;
  border-width: 5px;
  border-color: lightgreen;
  border-radius: 50px; 
  padding-left: 1.5%;
  padding-right: 1.5%;
}
#image-fct-avancees1{
  position: absolute;
  top: 0%;
  left: 110%;
  width: 50%;
}

#image-fct-avancees2{
  position: absolute;
  width: 35%;
  border-radius: 25%;
  top: 150%;
  left: 15%;
}


.qui-sommes-nous{
  position: absolute;
  top: 2050px;

  right: 0%;
  width: 100%;
  height: 400px;
  
  border-radius: 50px; 
  border: lightgreen;
  border-width: 10px;
  border-color: lightgreen;
  color: white;
}
#titre-qui-sommes-nous{
  scroll-margin-top: 100px; 
  position: absolute;
  top: 15%;
  right: 20%;
  text-align: center;
  font-size: xx-large;
  background-color: lightgreen;

  color: black;
  text-decoration: solid;

}
#qui-sommes-nous-content{
  position: absolute;
  top: 40%;
  text-align: center;
  width: 60%;
  right: 1%;
  height: auto;
  border-radius: 50px; 
  color: black;
  font-size: 130%;
  border-style:solid;
  border-width: 5px;
  border-color: lightgreen;
  border-radius: 50px; 
  padding-left: 1.5%;
  padding-right: 1.5%;

}
/* FOOTER */

.footer-basic {
  background-color: #4b4c4d;
  position: absolute;
  top: 2700px;
  right: 0%;
  width: 100%; 
  padding: 40px 0;
  color: #ffffff;
  text-align: center;
  font-size: x-large;
}

.footer-basic .social img {
  display: inline-block;
  text-align: center;
  margin: 0 15px; 
  height: 80px;
  width: auto;
  font-size: 24px;
  line-height: 40px;
  border-radius: 50%;
  border: 3px solid #ccc;
  padding: 3px;

}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
  font-size: x-large;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

}



/* pour les très grands écrans : */ 

@media screen and (min-width: 1600px){
  


p,ol,ul{
  /* Style pour les paragraphes, les listes ordonnées et les listes non ordonnées (à l'exception de #texte_bienvenue) pour les écrans entre 1200px et 1600px */

  color: white;
}

body {
  /* Style pour le corps du site web pour les écrans entre 1200px et 1600px */

  color: white;
  background-image: url('bg1.png');
  font-family: Georgia, 'Times New Roman', Times, serif;

}

#texte_bienvenue {
    /* Style pour la zone de texte de bienvenue */

  scroll-margin-top: 100px;
  position: absolute;
  top: 100px;
  right: 25px;
  width: 35%;
  border-style:solid;
  border-width: 5px;
  border-color: lightgreen;
  padding-top:2%;
  padding-left: 2.5%;
  padding-bottom: 2%;
  padding-right: 2%;
  color: black;
  filter: blur(12);
  border-radius: 40%;
  
}
#bouton-acces-carte{
  height: 35%;
  width: auto;
  position: absolute;
  top: 35%;
  right: 20%;
}

#texte-bouton-acces-carte{
  position: absolute;
  right: 20%;
  top: 650px;
  color: black;
  background-color: lightgreen;
}
#image-ex2{
  height: auto;
  width: 30%;
  position: absolute;
  top: 45%;
  left: 5%;
}

nav {
  z-index: 1;
  background: white;
  width: 80%;
  display: flex; 
  justify-content: space-between;
  padding: 10px; 
  border-radius: 22px;
  box-shadow: 2px 2px 20px rgb(0,0,0,0.3) ;
  position: fixed;
  left: 10%;
}

nav img {
  width: 60px;
  height: auto;
}
nav > a {
  color: black; 
  text-decoration: none;
  font-size:xx-large;
  padding: 8px 16px;
  border-radius: 22px;
}
nav > a:hover{

  transition: 0.255;
  font-size: xx-large;
  color: aliceblue;
  background : grey;
}
.separateur_header{
  background-color: grey;
  padding: 1px 1px; 

}

/* SLIDER */

.slider {
  width: 900px;
  margin: 42px auto;
  position: absolute;
  left: 0px;
  top: 50px;
}

.slider-viewport {
  width: 900px;
  height: 600px;
  overflow: hidden;
}


.slider-content {
  display: grid;
  grid-auto-flow: column;
  -webkit-transition: 1s all;
  transition: 1s linear ;
}

.slider-content img {
  width: 900px;
  height: auto;
}

.slider-nav {
  position: absolute;
  width: 100%;
  top: 80%;
  margin-top: 10px;
  text-align: center;
}

.slider-nav a {
  display: inline-block;
  background-color: #adafbc;
  width:30px;
  height: 30px;
  margin: 0 6px;
}

.slider-nav a:hover {
  background-color: #fff;
}

#img2:target .slider-content {
  -webkit-transform: translateX(-900px);
  transform: translateX(-900px);
}

#img3:target .slider-content {
  -webkit-transform: translateX(-1800px);
  transform: translateX(-1800px);
}

/* zoom des images */
.zoom img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.zoom :hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/**//**//**//**//**//**//* corp de la page *//**//**//**/

.corp-page {
  
  position: absolute;
  top: 650px;
  width: 100%;
  height: 2500px;

}

.notre_projet {
  position: absolute;
  top: 10px;
  left: 0%;
  width: 100%;
  height: 710px;
  border-radius: 50px; 
  border-color: lightgreen;
  border-width: 10%;
  color: white;
}

#content-notre-projet{
  position: absolute;
  top: 15%;
  width: 50%;
  height: 600px;
  left: 0%;
  border-style:solid;
  border-width: 5px;
  border-color: lightgreen;
  border-radius: 50px; 
  padding-left: 1.5%;
  padding-right: 1.5%;
  color: white;
  font-size: 130%;
}

#screenshot-map{
  height: auto;
  width: 40%;
  position: absolute;
  top: 10%;
  right: 1.5%;
}
#screenshot-map2{
  height: auto;
  width: 40%;
  position: absolute;
  top: 50%;
  right: 8%;
}


#titre-notre-projet{
  scroll-margin-top: 100px;
  position: absolute;
  top: 5%;
  left: 30%;
  text-align: center;
  font-size: xx-large;
  background-color: lightgreen;
  text-decoration: underline;
  color: black;
  text-decoration: solid;
}

.fonctionalitees {
  position: absolute;
  top: 780px;

  left: 0%;
  width: 100%;
  height: 710px;
  
  border-radius: 50px; 
  border: lightgreen;
  border-width: 10px;
  border-color: lightgreen;
  color: white;
}

#fonctionalitees-content{
  position: absolute;
  top: 18%;
  text-align: center;
  width: 60%;
  right: 1%;
  height: auto;
  border-radius: 50px; 
  color: black;
  font-size: 130%;
  border-style:solid;
  border-width: 5px;
  border-color: lightgreen;
  border-radius: 50px; 
  padding-left: 1.5%;
  padding-right: 1.5%;
}


#titre-fonctionalitees{
  scroll-margin-top: 100px;
  position: absolute;
  top: 5%;
  right: 25%;
  text-align: center;
  font-size: xx-large;
  background-color: lightgreen;
  text-decoration: underline;
  color: black;
  text-decoration: solid;
}

#image-ex1{
  height: auto;
  position: absolute;
  width:30%;
  top: 10%;
  left: 0%;
}

#image-ex2{
  height: auto;
  width: 30%;
  position: absolute;
  top: 45%;
  left: 5%;
}

.fonctionalitees-avancee {
  position: absolute;
  top: 1450px;
  left: 0%;
  width: 100%;
  height: 710px;
  border-radius: 50px; 
  border-color: lightgreen;
  color: black;
}
#titre-fonctionalitees-avancee{
  scroll-margin-top: 100px;
  position: absolute;
  top: 1%;
  left: 25%;
  text-align: center;
  font-size: xx-large;
  background-color: lightgreen;
  text-decoration: underline;
  color: black;
  text-decoration: solid;
}
#fonctionalitees-avancee-content {
  position: absolute;
  top: 18%;
  text-align: center;
  width: 60%;
  left: 1%;
  height: auto;
  border-radius: 50px; 
  color: black;
  font-size: 130%;
  border-style:solid;
  border-width: 5px;
  border-color: lightgreen;
  border-radius: 50px; 
  padding-left: 1.5%;
  padding-right: 1.5%;
}

#image-fct-avancees1{
  position: absolute;
  top: 0%;
  left: 110%;
  width: 50%;
}

#image-fct-avancees2{
  position: absolute;
  width: 35%;
  border-radius: 25%;
  top: 175%;
  left: 15%;
}



.qui-sommes-nous{
  position: absolute;
  top: 2100px;

  right: 0%;
  width: 100%;
  height: 400px;
  
  border-radius: 50px; 
  border: lightgreen;
  border-width: 10px;
  border-color: lightgreen;
  color: white;
}
#titre-qui-sommes-nous{
  scroll-margin-top: 100px; 
  position: absolute;
  top: 15%;
  right: 20%;
  text-align: center;
  font-size: xx-large;
  background-color: lightgreen;

  color: black;
  text-decoration: solid;

}
#qui-sommes-nous-content{
  position: absolute;
  top: 40%;
  text-align: center;
  width: 60%;
  right: 1%;
  height: auto;
  border-radius: 50px; 
  color: black;
  font-size: 130%;
  border-style:solid;
  border-width: 5px;
  border-color: lightgreen;
  border-radius: 50px; 
  padding-left: 1.5%;
  padding-right: 1.5%;

}

/* FOOTER */

.footer-basic {
  background-color: #4b4c4d;
  position: absolute;
  top: 2700px;
  right: 0%;
  width: 100%; 
  padding: 40px 0;
  color: #ffffff;
  text-align: center;
  font-size: x-large;
}

.footer-basic .social img {
  display: inline-block;
  text-align: center;
  margin: 0 15px; 
  height: 80px;
  width: auto;
  font-size: 24px;
  line-height: 40px;
  border-radius: 50%;
  border: 3px solid #ccc;
  padding: 3px;

}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
  font-size: x-large;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}
}